.item {
	padding: 20px;
	background: var(--color-primary-light);
	border-radius: var(--border-radius-base);
	text-align: center;
}

.value {
	color: var(--color-accent);
	margin-bottom: 8px;
}

.title {
	text-transform: uppercase;
}
