.item {
	padding: 20px;
	background: var(--color-primary-light);
	border-radius: var(--border-radius-base);
	text-align: center;
}

.value {
	background: var(--color-accent);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 8px;
}

.title {
	text-transform: uppercase;
	font-size: 20px;
}
