.item {
	background: var(--color-primary-light);
	border-radius: var(--border-radius-base);
	text-align: center;
}

.title {
	margin-bottom: 4px;
	color: var(--color-accent);
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
}

.value {
	white-space: nowrap;
}

.big {
	padding: 20px;

	.title {
		font-size: 20px;
	}

	.value {
		font-size: 22px;
	}
}

.small {
	padding: 12px;

	.title {
		font-size: 16px;
	}

	.value {
		font-size: 18px;
	}
}
