.item {
	overflow: hidden;
	padding: 8px;
	transition: all var(--transition-base);
	border-radius: var(--border-radius-base);
	color: var(--color-text-dark-lighter);
	display: flex;
	flex-direction: column;
	text-align: center;

	&.active,
	&:hover {
		background: var(--color-primary-light);
		color: var(--color-text-light);

		.icon {
			fill: var(--color-text-light);
		}
	}

	span {
		font-size: 16px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.icon {
	align-self: center;
	margin-bottom: 4px;
	transition: fill var(--transition-base);
}
