.title {
	margin-bottom: 24px;
}

.small-title {
	margin-bottom: 12px;
}

.user {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.avatar {
	margin-right: 24px;
}

.fields {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.field:not(:last-child) {
	margin-bottom: 16px;
}

.submit-btn {
	margin-left: auto;
	display: block;
}

.btn + .btn {
	margin-left: 12px;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}