.title {
	margin-bottom: 24px;
}

.small-title {
	margin-bottom: 12px;
}

.btns {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.form {
	flex-grow: 1;

	&.phone {
		.user {
			flex-direction: column;
			align-items: flex-start;
		}

		.avatar {
			margin-right: 0;
			margin-bottom: 16px;
		}

		.submit-btn {
			width: 100%;
			margin-left: 0;
		}
	}
}

.user {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.avatar {
	margin-right: 24px;
	flex-shrink: 0;
}

.fields {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.field:not(:last-child) {
	margin-bottom: 16px;
}

.submit-btn {
	margin-left: auto;
	display: block;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.custom {
		flex-direction: column;
		align-items: flex-start;

		.row {
			margin-bottom: 20px;
		}
	}
}

.divider {
	margin: 20px 0;
}
