.input {
	border-radius: var(--border-radius-base);
	border: 1px solid var(--color-text-dark-lighter);
	padding: 12px 20px 12px 48px;
	color: var(--color-text-light);
	background: transparent;
	transition: border-color var(--transition-base);

	&:focus {
		outline: none;
		border-color: var(--color-text-dark-light);
	}

	&::placeholder {
		color: var(--color-text-dark-light);
		opacity: 1;
	}
}

.wrapper {
	position: relative;
}

.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
}
