.header {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;

	&.phone {
		.search {
			width: 100%;
		}
	}
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	flex-grow: 1;
	align-content: start;

	&.tablet {
		grid-template-columns: 1fr;
	}
}

.sorts {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	align-items: center;
}

.search {
	margin-bottom: 16px;
}
