.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
}

.sorts {
	display: flex;
	gap: 16px;
	align-items: center;
}
