.footer {
	flex-shrink: 0;
	padding: 28px;
	border-top: 1px solid var(--color-divider);
}

.logo {
	margin-right: 56px;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row {
	display: flex;
	align-items: center;
}

.nav {
	margin-right: 56px;
}

.item {
	display: flex;
	align-items: center;
}

.item:not(:last-child) {
	margin-bottom: 8px;
}

.icon {
	margin-right: 8px;
}
