.form {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	flex-grow: 1;
	background: var(--color-primary-lighter);
	border-radius: var(--border-radius-base);
	padding: 28px;
	margin-right: 28px;
}

.content {
	width: 100%;
	max-width: 400px;
}

.form-content {
	margin-bottom: 14px;
}

.divider {
	margin-bottom: 14px;
}

.sm-desktop {
	justify-content: space-between;
	max-width: initial;
	margin-right: 0;

	.content {
		margin-right: 28px;
	}

	.image {
		flex-shrink: 0;
	}
}

.tablet {
	justify-content: center;

	.content {
		margin-right: 0;
	}
}

.phone {
	padding: 20px;
}
