.form {
	background: var(--color-primary-lighter);
	border-radius: var(--border-radius-base);
	padding: 130px;
	box-shadow: var(--box-shadow-base);
}

.content {
	width: 450px;
}

.form-content {
	margin-bottom: 14px;
}

.divider {
	margin-bottom: 14px;
}
