.button {
	border-radius: var(--border-radius-base);
	font-weight: 600;
	text-transform: uppercase;
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	margin-right: 8px;
	transition: color var(--transition-base);
}

.big {
	padding: 10px 40px;
}

.medium {
	font-size: 16px;
	padding: 8px 20px;
}

.small {
	font-size: 16px;
	padding: 6px 12px;
}

.primary {
	color: var(--color-text-dark);
	background: var(--color-accent);
	transition: all var(--transition-base);

	&:not(:disabled):hover {
		box-shadow: var(--box-shadow-base);
		background: var(--color-accent-darker);
	}

	&:disabled {
		background: var(--color-text-dark-lighter);
	}
}

.outline {
	color: var(--color-accent);
	border: solid 1px var(--color-accent);
	transition: all var(--transition-base);

	&:not(:disabled):hover,
	&:not(:disabled).active {
		box-shadow: var(--box-shadow-base);
		color: var(--color-primary);
		background: var(--color-accent-darker);
		border-color: var(--color-accent-darker);

		.icon {
			color: var(--color-primary);
		}
	}

	&:disabled {
		color: var(--color-text-dark-lighter);
		border-color: var(--color-text-dark-lighter);
	}
}
