.button {
	border-radius: var(--border-radius-base);
	box-shadow: var(--box-shadow-base);
	font-weight: 600;
	text-transform: uppercase;
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	margin-right: 8px;

	path {
		transition: fill var(--transition-base);
	}
}

.big {
	padding: 10px 40px;
}

.medium {
	font-size: 16px;
	padding: 8px 20px;
}

.small {
	font-size: 16px;
	padding: 6px 12px;
}

.primary {
	color: var(--color-primary);
	background: var(--color-accent);
	transition: all var(--transition-base);

	&:hover {
		box-shadow: none;
		background: var(--color-accent-darker);
	}
}

.outline {
	color: var(--color-accent);
	border: solid 1px var(--color-accent);
	transition: all var(--transition-base);

	&:hover {
		box-shadow: none;
		color: var(--color-primary);
		background: var(--color-accent-darker);
		border-color: var(--color-accent-darker);

		.icon path {
			fill: var(--color-primary);
		}
	}
}
