.textarea {
	resize: none;
	border-radius: var(--border-radius-base);
	border: 1px solid var(--color-text-dark-lighter);
	padding: 10px 20px 0;
	color: var(--color-text-light);
	background: transparent;
	transition: border-color var(--transition-base);

	&:focus {
		border-color: var(--color-accent);
		outline: none;
	}

	&::placeholder {
		color: var(--color-text-dark-lighter);
		opacity: 1;
	}
}

