.title {
	margin-bottom: 28px;
}

.inner {
	display: flex;
	flex-grow: 1;

	&.tablet {
		flex-direction: column;
	}
}

.wrapper {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.divider {
	padding: 8px 0;
}
