.inner {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 28px;
}

.sidebar {
	min-width: 270px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
}

.panel {
	display: flex;
	align-items: center;
}

.btn {
	margin-right: 16px;
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
}

