.page {
	padding-top: 28px;
}

.inner {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 28px;
}

.sidebar {
	padding: 24px;
	background: var(--color-primary-lighter);
	border-radius: var(--border-radius-base);
	min-width: 270px;
	box-shadow: var(--box-shadow-base);
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
}

.panel {
	display: flex;
	align-items: center;
}

.btn {
	margin-right: 16px;
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	background: var(--color-primary-lighter);
	padding: 24px;
	border-radius: var(--border-radius-base);
	box-shadow: var(--box-shadow-base);
}

