.label {
	color: var(--color-danger);
	margin-top: 8px;
	font-size: 16px;
}

.input {
	padding-right: 60px;
}

.field {
	position: relative;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);

	&::before {
		content: "";
		position: absolute;
		top: -6px;
		left: -6px;
		right: -6px;
		bottom: -6px;
	}
}

.icon {
	color: var(--color-accent);
}
