.button {
	width: 40px;
	height: 40px;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: 4px 4px 4px;
	grid-template-rows: 4px 4px 4px;
	grid-gap: 6px;

	span {
		background: var(--color-accent);
		border-radius: 1px;
	}
}