.tab {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-text-dark-lighter);
	transition: color var(--transition-base);

	&.active {
		color: var(--color-accent);
	}
}
