.item {
	background: var(--color-primary-light);
	border-radius: var(--border-radius-base);
	box-shadow: var(--box-shadow-base);

	&.open {
		.icon {
			transform: rotate(180deg);
		}

		.content {
			transition: max-height .3s ease;
			max-height: 140px;
		}
	}
}

.btn {
	color: var(--color-text-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	padding: 10px 20px;
}

.icon {
	transition: transform var(--transition-base);
}

.content {
	transition: max-height .3s ease;
	max-height: 0;
	overflow: auto;
}

.list {
	display: flex;
	flex-direction: column;
	padding: 0 20px 10px;
}

