.inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--color-primary-lighter);
	border-radius: var(--border-radius-base);
	padding: 28px;
}

.icon {
	margin-bottom: 16px;
}
