.option {
	display: inline-block;
	color: var(--color-text-dark-lighter);
	transition: color .3s ease;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.active {
		pointer-events: none;
		color: var(--color-text-light);
	}

	&:hover {
		color: var(--color-text-light);
	}
}
