.typography {
	color: var(--color-text-light);
}

.h1 {
	font-weight: 700;
	font-size: 66px;

	&.sm-tablet {
		font-size: 58px;
	}

	&.phone {
		font-size: 45px;
	}
}

.h2 {
	font-size: 48px;
	font-weight: 700;
}

.h3 {
	font-size: 32px;
	font-weight: 600;
}

.h4 {
	font-size: 20px;
	font-weight: 600;
}

.h5 {
	font-size: 20px;
	font-weight: 600;
}

.subtitle1 {
	font-size: 24px;
	line-height: 1.4;
	font-weight: 400;

	&.sm-tablet {
		font-size: 20px;
	}

	&.phone {
		font-size: 18px;
	}
}

.subtitle2 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 400;
}

.body1 {
	font-size: 18px;
	font-weight: 400;
}