.achieves {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 24px;
	padding: 24px;
	background: var(--color-primary-lighter);
	border-radius: var(--border-radius-base);
}

.icon-wrapper {
	position: relative;
	margin-bottom: 12px;
}

.number {
	font-size: 32px;
	color: var(--color-text-dark);
	position: absolute;
	font-weight: 700;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

