.icon .bg {
	fill: var(--color-primary);
}

.light .bg {
	fill: var(--color-primary-light);
}

.lighter .bg {
	fill: var(--color-primary-lighter);
}

.icon path:not(.bg) {
	fill: var(--color-accent);
}