.item {
	position: relative;
	padding: 20px;
	border-radius: var(--border-radius-base);
	background: var(--color-primary-light);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.user {
	margin-bottom: 16px;
}

.description {
	margin-bottom: 16px;
}

.category {
	padding: 4px 12px;
}

.tags {
	margin-bottom: 16px;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.date {
	align-self: flex-end;
}

.btn,
.user {
	position: relative;
	z-index: 5;
}

.more {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: box-shadow var(--transition-base);

	&:hover {
		box-shadow: var(--box-shadow-base);
	}
}

