.item {
	position: relative;
	padding: 20px;
	border-radius: var(--border-radius-base);
	background: var(--color-primary-light);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.user {
	align-self: flex-start;
	margin-bottom: 16px;
}

.description {
	margin-bottom: 16px;
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.category {
	padding: 4px 12px;
}

.tags {
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 16px;
}

.footer {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
}

.date {
	align-self: flex-end;
}

.btn,
.user {
	position: relative;
	z-index: 5;
}

.btn {
	margin-right: 16px;
}

.more {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: box-shadow var(--transition-base);

	&:hover {
		box-shadow: var(--box-shadow-base);
	}
}

.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 16px;
}
