.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999;
	transition: all var(--transition-base);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal.visible {
	opacity: 1;
	visibility: visible;
}

.modal.visible .content {
	transform: translateY(0);
}

.header {
	position: relative;
	text-align: center;
	padding: 16px 24px;
}

.close-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 24px;
}

.title {
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
}

.content {
	background: var(--color-primary-lighter);
	box-shadow: var(--box-shadow-base);
	border-radius: var(--border-radius-base);
	transform: translateY(5%);
	width: 450px;
	transition: all var(--transition-base);
}

.body {
	padding: 16px 24px 24px;
}

.close-icon {
	color: var(--color-accent);
}
