.error {
	display: inline-block;
	color: var(--color-danger);
	font-size: 16px;
	margin-bottom: 4px;
}

.label {
	display: inline-block;
	margin-bottom: 8px;
	color: var(--color-text-dark-lighter);
}

.input {
	display: block;
	width: 100%;
}
