.wrapper {
	display: flex;
	border-radius: var(--border-radius-base);
	overflow: hidden;
	width: 300px;
	transition: box-shadow var(--transition-base);

	&:focus-within {
		box-shadow: var(--box-shadow-base);
	}
}

.input-wrapper {
	position: relative;
}

.input {
	color: var(--color-text-light);
	padding: 10px 20px;
	width: 100%;
	border: none;
	outline: none;
	background: var(--color-primary-lighter);

	&::placeholder {
		opacity: 1;
		color: var(--color-text-dark-lighter);
	}
}

.icon-wrapper {
	flex-shrink: 0;
	padding: 10px 16px;
	background: var(--color-primary-light);
	display: flex;
	align-items: center;
	justify-content: center;

	&:disabled .icon {
		color: var(--color-text-dark-lighter);
	}
}

.icon {
	color: var(--color-text-light);
	transition: color var(--transition-base);
}

.clear-button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity var(--transition-base);
	padding: 6px;

	&.visible {
		opacity: 1;
	}
}

.clear-icon {
	color: var(--color-text-dark-lighter);
}
