.wrapper {
	display: flex;
	border-radius: var(--border-radius-base);
	overflow: hidden;
	width: 300px;
}

.input {
	color: var(--color-text-light);
	padding: 10px 20px;
	width: 100%;
	border: none;
	outline: none;
	background: var(--color-primary-lighter);

	&::placeholder {
		opacity: 1;
		color: var(--color-text-dark-lighter);
	}

	&:focus + .icon-wrapper .icon,
	&:valid + .icon-wrapper .icon {
		color: var(--color-text-lightco);
	}
}

.icon-wrapper {
	flex-shrink: 0;
	padding: 10px 16px;
	background: var(--color-primary-light);
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	color: var(--color-text-dark-lighter);
	transition: color var(--transition-base);
}
