.page {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
	transition: transform 1.4s ease-in-out, opacity var(--transition-base);
}

.content.activeSlide {
	opacity: 1;
	transform: translateY(0);
}
.content.lastSlide {
	transform: translateY(-100%);
}
.content.nextSlide {
	transform: translateY(100%);
}

.title {
	margin-bottom: 24px;
}

.text {
	max-width: 600px;
	margin-bottom: 40px;
}

.container {
	margin: 0;
	flex-grow: 1;
	display: flex;
}
