:root {
    --font-family-base: 'Manrope', sans-serif;
    --font-size-base: 18px;
    --border-radius-base: 4px;
    --box-shadow-base: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    --color-primary: #252139;
    --color-primary-lighter: #2F2B44;
    --color-primary-light: #3A364E;
    --color-text-light: #ffffff;
    --color-text-dark: #252139;
    --color-text-dark-lighter: #6C6880;
    --color-divider: rgba(108, 104, 128, .4);
    --color-accent: #00D4C3;
    --transition-base: .3s ease;
}