.item {
	position: relative;
}

.label {
	position: absolute;
	top: 10px;
	left: 12px;
	color: var(--color-text-dark-lighter);
	transition: all var(--transition-base);
	background: var(--color-primary-lighter);
	cursor: text;
	padding: 2px 4px;
}

.input {
	display: block;
	width: 100%;

	&:focus + .label,
	&:valid + .label {
		top: -14px;
		transform: translateY(0);
		font-size: 16px;
	}

	&:focus + .label {
		color: var(--color-accent);
	}
}
