.table {
	display: grid;
	grid-template-columns: repeat(auto-fill, 20%);
	grid-template-rows: 100% auto;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border-bottom: solid 1px var(--color-divider);
	background-color: var(--color-primary-light);

	&.head {
		background-color: transparent;
		color: var(--color-text-dark-lighter);
		padding: 12px;
		font-size: 18px;
	}
}
