.checkbox {
	display: none;
}

.item {
	cursor: pointer;
	display: flex;
	padding: 6px 0;
}

.fake {
	flex-shrink: 0;
	display: inline-block;
	position: relative;
	transition: box-shadow var(--transition-base);
	width: 20px;
	height: 20px;
	border: 1px solid var(--color-divider);
	border-radius: 3px;
	margin-right: 12px;

	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 4px;
		left: 4px;
		transform: scale(0.95);
		width: 10px;
		height: 10px;
		background: var(--color-accent);
		opacity: 0;
		border-radius: 3px;
		transition: all var(--transition-base);
	}
}

.label {
	font-size: 16px;
}

.checkbox:checked + .fake {
	box-shadow: var(--box-shadow-base);
}

.checkbox:checked + .fake::before {
	opacity: 1;
	transform: scale(1);
}

