.grid {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header {
	margin-bottom: 24px;
	display: flex;
	justify-content: flex-end;
}

.buttons {
	display: flex;
}

.button:not(:last-child) {
	margin-right: 8px;
}

.button {
	display: flex;

	&.active .icon {
		color: var(--color-accent);
	}
}

.icon {
	transition: color var(--transition-base);
	color: var(--color-text-dark-lighter);
}
