.btns {
	display: flex;
	justify-content: space-between;
}

.btn {
	width: 50%;

	&:not(:last-child) {
		margin-right: 24px;
	}
}

.phone {
	flex-direction: column;

	.btn {
		width: 100%;

		&:not(:last-child) {
			margin-right: 0;
			margin-bottom: 12px;
		}
	}
}
