.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info {
	display: flex;
	align-items: center;
	margin-right: 16px;
}

.icon {
	flex-shrink: 0;
}

.text {
	margin-left: 12px;
	white-space: nowrap;
}

.buttons {
	display: flex;
}

.button:not(:last-child) {
	margin-right: 16px;
}
