
.field {
	position: relative;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tags {
	display: flex;
	margin: 0 -4px 16px -4px;
	overflow-x: auto;
}

.tag {
	padding: 0 4px;
}

.input {
	margin-right: 20px;
}

.list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding-top: 8px;
	opacity: 0;
	visibility: hidden;
	transition: all var(--transition-base);
	transform: translateY(5%);
	z-index: 999;

	&.visible {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

.content {
	width: 100%;
	padding: 8px 0;
	border-radius: var(--border-radius-base);
	box-shadow: var(--box-shadow-base);
	background: var(--color-primary-light);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-height: 150px;
	overflow: auto;

	& > * {
		padding: 4px 12px;
		min-width: 100%;
		text-align: left;
		overflow: visible;
	}
}

