.item {
	display: inline-block;
	color: var(--color-accent);
	font-size: 16px;
	background: var(--color-accent-transparent);
	padding: 4px 10px 4px 12px;
	border-radius: var(--border-radius-base);
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text {
	margin-right: 6px;
}

.button {
	padding: 2px;
}

.icon {
	color: var(--color-accent);
}